<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width" />
    
    <title>Welcome to Atlantis</title>
    
    <meta name="description" content="Atlantis is a responsive mobile first WordPress theme">
    
	<link rel="stylesheet" href="css/style.css">
	
	<script src="js/modernizr.js"></script>
	
<head>
<body>

<div class="container">

	<header>

		<h1>Atlantis</h1>
		
		<p>Dive Into The Deep</p>
			
	</header>
	
	<nav>
	
		<ul>
			
			<li><a href="">Home</a></li>
		
			<li><a href="">Products</a></li>

			<li><a href="">Contact</a></li>

		</ul>	
	
	</nav>
	
	<div class="body" role="main">
	
		<h2>Lorem Ipsum</h2>
	
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas, felis sit amet vehicula vehicula, tellus arcu porta dolor, sed porttitor lacus metus in magna. Nunc ligula nulla, iaculis sed tempus et, ultrices ultrices ipsum. Nulla facilisi.</p>
	
		<p><a href="">Nunc ligula nulla,</a></p>
		
	</div>
	
	<footer>
		
		<p>Copyright &copy; 2012 </p>
	
	</footer>

</div>

</body>  