<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width" />
    
    <title>Welcome to Atlantis</title>
    
    <meta name="description" content="Atlantis is a responsive mobile first WordPress theme">
    
	<link rel="stylesheet" href="css/style.css">
	
	<script src="js/modernizr.js"></script>
	
<head>
<body>

<div class="container">

	<header>

		<h1>Atlantis</h1>
		
		<p>Dive Into The Deep</p>
			
	</header>
	
	<nav>
	
	nav
	
	</nav>

</div>

</body>  